h5{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
}

p.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15;
    color: black;
}

p.SD1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color:black;
  background-color:blanchedalmond ;  
}

p.SD1:hover{    
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color:royalblue;
    background-color:thistle;  
  }

h5.LADYCAROLINE{
    color:teal;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h5.GERALD{
    color:tomato;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h5.HESTER{
    color:navy;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h5.LADYHUNSTANTON{
    color:brown;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}
h5.SIRJOHN{
    color:chocolate;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}
h5.MRSALLONBY{
    color:darkmagenta;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}
h5.LADYSTUTFIELD{
    color:darkorange;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}
h5.KELVIL{
    color:firebrick;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; 
}

table.Hollywood{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60%;
    padding: 20px;
    margin: 40px;
}

table.Hollywood tr:nth-child(odd){
    background-color:palegreen;
}

table.Hollywood td, table.Hollywood th {
    border: 1px solid burlywood;
    padding: 10px;
    text-align: center;
    color:darkslateblue;
}

table.Hollywood th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color:darkred;
    color: white;
}
h5.LADYCAROLINE:hover{
    text-shadow: 2px 3px 4px chocolate;
    border-style:solid;
    color:darkslategrey;
}
h5.GERALD:hover{
    text-shadow: 2px 3px 4px cornflowerblue;
    border-style:double;
    color:olive;
}
h5.HESTER:hover{
    text-shadow: 2px 3px 4px cadetblue;
    border-style:ridge;
    color: darksalmon;
}
h5.LADYHUNSTANTON:hover{
    text-shadow: 2px 3px 4px black;
    border-style:solid;
    color:silver; 
}
h5.SIRJOHN:hover{
    text-shadow: 2px 3px 6px darkgrey;
    border-style:double;
    color:darkblue;
}
h5.MRSALLONBY:hover{
    text-shadow: 2px 3px 4px darkgreen;
    border-style:ridge;
    color:beige;
}
h5.LADYSTUTFIELD:hover{
    text-shadow: 2px 3px 4px darkorange;
    border-style:solid;
    color:darkslategrey; 
}
h5.KELVIL:hover{
    text-shadow: 2px 3px 4px gold;
    border-style:double;
    color:black;
}
.navigation{
    list-style-type:none;
    width:100%;
    overflow:auto;
    background-color:thistle;
}
  
.navigation a {
    float:left;
    color:black;
    font-size: 20px;
    display:table;
    padding:8px;
}
  
.navigation a:hover {  
    background-color:silver;
    color:darkred;
}
